!!! XML
%rss{:version => "2.0"}
  %channel
    %title= "Private Bithug Feed for #{user.name}"
    %link= "/#{user.name}/feed.xml"
    %description A list of the most recent activities of the people you follow
    %language en-us
    %pubDate= Time.now
    - for item in log_entries
      %item
        /stubbing, i'm going to work on this ASAP
        %title= "#{item.class.to_s} for #{item.user.name}"
        %description= item.to_s
        /%link= url(:question, :stripped_title => question.stripped_title)
        /%guid= question.id
        /%author= question.user
        %author= item.user.name
        %pubDate= Time.at(item.date_time)


