.infoBox
  %img{:src => gravatar(user.email, 80), :alt => user.real_name }
  %h1= user.name
  - if current_user?
    %a.button{:href => "/#{user.name}/settings"} Settings
  - else
    %a.button{:href => "/#{user.name}/#{toggle_follow}"}= toggle_follow

.keys
  - if current_user?
    %form{:method => "post"}
      - user.ssh_keys.all.compact.each do |key|
        %input{:type=>"text", :readonly=>"true", :value=>"#{key.value}"}
        %input{:type=>"text", :readonly=>"true", :value=>"#{key.name}"} 
    %form{:method => "post"}
      %input{:type=>"text", :name=>"post[key]"}
      %textarea{:name=>"post[name]"}
      %input{:type => "submit", :value => "Add Key"}
    

#repositories

  #owned_repositories
    - user.repositories.each do |r|
      %a{:href => "/#{user.name}/#{r.name}"}= r.name

  #writeable_repositories
    - user.writeable_repositories.each do |r|
      %a{:href => "/#{r.owner}/#{r.name}"}= r.name

  #readable_repositories
    - user.readable_repositories.each do |r|
      %a{:href => "/#{r.owner}/#{r.name}"}= r.name
