%h1= user.name
.keys
  - if user.name == current_user
    %h3= "Your keys and repositories" 
    %form{:method => "post"}
      - user.keys.each do |key|
        %input{:type=>"textarea", :readonly=>"true", :value=>"#{key}"}
        %input{:type=>"textarea", :readonly=>"true", :value=>"#{key.name}"} 
    %form{:method => "post"}
      %input{:type=>"textarea", :name=>"post[key]"}
      %input{:type=>"textarea", :name=>"post[name]"}
      %input{:type => "submit", :value => "Add Key"}
  - else 
    %h3= "#{user.name}'s repositories" 
    %form{:method => "post"}
      - unless following
        %input{:type => "submit", :value => "Follow", :name => "post[follow]"}
      - else
        %input{:type => "submit", :value => "Unfollow", :name => "post[unfollow]"}
.repositories
  .owned_repositories
    - repositories.each do |r|
      %a{:href => "/repositories/#{r.name}"}= r.name
      %br
  .writeable_repositories
    - writeable_repositories.each do |r|
      %a{:href => "/repositories/#{r.name}"}= r.name
      %br
  .readable_repositories
    - readable_repositories.each do |r|
      %a{:href => "/repositories/#{r.name}"}= r.name
      %br
.following
	%h3= "Rad Guys and Gals you follow 'til whatever"
  - user.following.each do |f|
    - unless f.name == current_user
      %a{:href => "/#{f.name}"}= f.name
    %br
