!= haml :repository_info, :layout => false

%h2= "Settings for Project #{repo.name}"
%form{:method => "post", :action => request.path_info}
  %label{:for => :name} Project Name:
  %input{:type => :text, :name => :name, :value => "#{repo.name.gsub(user.name,"").gsub("/","")}"}
  %input{:type => :submit, :value => "Store"}
.info
  %a{:href => "/#{repo.name}/delete"} Delete this repository.

%h2 Access Rights
.info
  %a{:href => "/#{repo.name}/toggle_public"}= toggle_public
%h3 Users with read access
- if repo.public?
  .info This repository is public and everybody can read it.
- else
  - repo.readers.each do |u|
    .item
      != gravatar u.email, 40
      .text
        %h4= u.display_name
        %a{:href => "/#{repo.name}/revoke/r/#{u.name}"} Revoke access

%h3 Users with write access
- repo.writers.each do |u|
  .item
    != gravatar u.email, 40
    .text
      %h4= u.display_name
      %a{:href => "/#{repo.name}/revoke/w/#{u.name}"} Revoke access

%form{:method => "post", :action => "/#{repo.name}/grant"}
  %label{:for => :other_username} Grant access to a user:
  %input{:type => :text, :name => :other_username}
  - if repo.public?
    %input{:type => :hidden, :name => :read_or_write, :value => "w"}
  - else  
    %input{:type => :radio, :name => :read_or_write, :value => "r", :checked => "checked"} Read only
    %input{:type => :radio, :name => :read_or_write, :value => "w"} Read and Write
  %input{:type => :submit, :value => "Store"}

