!= haml :repository_info, :layout => false

- if tree[:type] == "tree"
  .listing
    - if is_subtree
      .tree
        %a{:href => "/#{repo.name}/#{commit_spec}/#{params["splat"].first.dirname}"} ..
    - tree.sort_by { |k,v| k.to_s }.each do |name, data|
      - next unless data.is_a? Hash
      %div{:class => "#{data[:type]}#{" file_#{File.extname name}" unless data[:type] == "tree"}"}
        .name
          - if data[:type] == "tree"
            - if is_subtree
              %a{:href => "/#{repo.name}/#{commit_spec}/#{params["splat"].first}/#{name}"}= name
            - else
              %a{:href => "/#{repo.name}/#{commit_spec}/#{name}"}= name
          - else
            = name
        .revision= data[:revision]    
        .size= data[:size]

.commitInfoBox
  %h3 Recent Commits
  - if commit_entries.empty?
    Start committing to this repository. This is Open-Source!
  - commit_entries.each do |item|
    .item
      != gravatar item.user.email, 40
      .text
        %small= item.user.name
        %h4= time_ago item.date_time
        != item.to_s :html
