!= haml :repository_info, :layout => false

.files
  %pre= tree.inspect

.commitInfoBox
  %h3 Recent Commits
  - if commit_entries.empty?
    Start committing to this repository. This is Open-Source!
  - commit_entries.each do |item|
    .item
      != gravatar item.user.email, 40
      .text
        %small= item.user.name
        %h4= time_ago item.date_time
        != item.to_s :html
