!= haml :user_info, :layout => false

%h2= "Settings for Project #{repo.name}"
%form{:method => "post", :action => request.path_info}
  %label{:for => :name} Project Name:
  %input{:type => :text, :name => :name, :value => "#{repo.name.gsub(user.name,"").gsub("/","")}"}
  %input{:type => :submit, :value => "Store"}

%h2 Access Rights
%a{:href => "/#{repo.name}/toggle_public"}= toggle_public
- unless repo.public?
  %h3 Users with readaccess to your repository
  - repo.readers.each do |u|
    %h4
      != gravatar u.email, 30
      = u.name
      %a{:href => "/#{repo.name}/revoke/r/#{u.name}"} Revoke access
- else 
  %h3 This repository is public and everybody can read it
%h3 Users with writeaccess to your repository
- repo.writers.each do |u|
  %h4
    != gravatar u.email, 30
    = u.name
    %a{:href => "/#{repo.name}/revoke/w/#{u.name}"} Revoke write access
    
%form{:method => "post", :action => "/#{repo.name}/grant"}
  %label{:for => :other_username} Grant access to a user:
  %input{:type => :text, :name => :other_username}
  - unless repo.public?
    %input{:type => :radio, :name => :read_or_write, :value => "r"} Read only
    %input{:type => :radio, :name => :read_or_write, :value => "w"} Read and Write
  - else
    %input{:type => :hidden, :name => :read_or_write, :value => "w"}
  %input{:type => :submit, :value => "Store"}

