!= haml :repository_info, :layout => false

%h2 What is going on?
- if commit_entries.empty?
  Start committing to this repository. This is Open-Source!
- commit_entries.each do |item|
  .item
    != gravatar item.user.email, 40
    .text
      %h4= time_ago item.date_time
      = "#{item.message[0..139]}#{"..." if item.message.size > 139}"

.files
  %pre= tree.inspect
