!= haml :user_info, :layout => false

%h2 Profile
%form{:method => "post", :action => "/#{user.name}/settings"}
  %label{:for => :real_name} Your Name:
  %input{:type => :text, :name => :real_name, :value => "#{user.real_name}"}
  %label{:for => :email} Your E-Mail:
  %input{:type => :text, :name => :email, :value => "#{user.email}"}
  %input{:type => :submit, :value => "store"}
  .info
    To change your avatar, visit <a href="http://en.gravatar.com/">gravatar.com</a>.

%h2 Public keys
- user.ssh_keys.each do |key|
  %p
    %h4= key.name
    %pre.key #{key.value[0..20]} ... #{key.value[-30..-1]}
    %a{:href => "/#{user.name}/delete_key/#{key.id}"} delete

%h3 Add a key
%form{:method => "post", :action => "/#{user.name}/add_key"}
  %label{:for => :name} Description:
  %input{:type => :text, :name => :name}
  %label{:for => :value} Content:
  %input{:type => :text, :name => :value}
  %input{:type => :submit, :value => "store"}

