%h3= path
%h6= "git clone git@#{hostname}:#{path}"
- unless params["get"]["repository"].owner == current_user?
    #foreign_repo
   	%h1= "Owner: #{owner}"
- else
    #own_repo
      %h1= "Welcome back to your very own Repository"
